@model IEnumerable<AlbumModel>

@{
    ViewBag.Title = "My Albums";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
    <div class="row">
        @foreach (var album in Model)
        {
            <partial name="_AlbumPartial" , model="@album" />
        }
    </div>
}
else
{
    <h3 class="text-center">You have no albums yet!</h3>
}