@using MusicApp.Extensions

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Event Image">
        <div class="card-body text-center">
            <h4>Artist: <b>@Model.Artist</b></h4>
            <h6>Date: <b>@Model.Date</b></h6>
            <h6>Location: <b>@Model.Location</b></h6>
            <br />
        </div>
    </div>
</div>
